---
import PageContainer from "../layout/PageContainer.astro";

type Props = {
  id?: string;
  title?: string;
  eyebrow?: string;
  backgroundClass?: string;
  padded?: boolean;
};

const {
  id,
  title,
  eyebrow,
  backgroundClass = "",
  padded = true,
} = Astro.props as Props;
---

<section id={id} class={backgroundClass}>
  <PageContainer padded={padded}>
    {
      eyebrow && (
        <p class="text-sm uppercase tracking-wide text-slate-500">{eyebrow}</p>
      )
    }
    {title && <h2 class="mt-2 text-3xl sm:text-4xl font-bold">{title}</h2>}
    <div class="mt-6">
      <slot />
    </div>
  </PageContainer>
</section>
